KAFKA_CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
DR_KAFKA_CLUSTER_ID=8fQW6sb9Q8q9c9I3x-U7eQ
POSTGRES_USER=orders_app
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
POSTGRES_DB=orders
DBZ_REPLICATION_PASSWORD=CHANGE_ME_DBZ_REPLICATION_PASSWORD
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_GRAFANA_ADMIN_PASSWORD
SCRAM_ADMIN_PASSWORD=CHANGE_ME_SCRAM_ADMIN_PASSWORD
SCRAM_PAYMENTS_PASSWORD=CHANGE_ME_SCRAM_PAYMENTS_PASSWORD
SCRAM_INVENTORY_PASSWORD=CHANGE_ME_SCRAM_INVENTORY_PASSWORD
SCRAM_NOTIFICATIONS_PASSWORD=CHANGE_ME_SCRAM_NOTIFICATIONS_PASSWORD
SCRAM_STREAMS_PASSWORD=CHANGE_ME_SCRAM_STREAMS_PASSWORD
